@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inconsolata:wdth,wght@125,200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    font-family: "Concert One", sans-serif;
}

.main-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(21, 32, 43);
    padding: 12px;
    border-radius: 12px;
}

.display-div {
    display: flex;
    flex: 1 1 auto;
    border: 2px rgb(116, 116, 116) solid;
    text-align: right;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 0px 10px;
    margin: 2px;
    border-radius: 8px;
    border: solid 2px rgb(56, 81, 106);
    overflow: hidden;
}

.locked-div {
    flex-grow: 1;
    text-align: right;
    color: rgb(255, 255, 255);
}

.input-div {
    flex-shrink: 1;
    text-align: left;
    color: rgb(68, 162, 255);
}

.top-operator-div {
    display: flex;
    height: 10%;
    flex: 1 1 auto;
}

.bottom-div {
    display: flex;
    flex: 4 1 auto;
}

.number-div {
    display: flex;
    flex: 3 1 0;
    flex-wrap: wrap;
}

.right-operator-div {
    display: flex;
    flex: 1 1 0;
    flex-direction: column
}

.number-button-container {
    flex: 1 1 33%;
    display: flex;
}

.operator-button-container {
    flex: 1 1 100%;
    display: flex;
}

*:has(>[id="0"]){ /* parent container whose direct child has id "0" */
    flex: 1 0 66%;
}

button {
    flex: 1 0 auto;
    margin: 2px;
    background-color: rgb(45, 63, 79);
    border-radius: 8px;
    border: none;
    color: rgb(156, 175, 190);
    font-weight: 200;
    font-size: 18px;
}


.operator-button {
    background-color: rgb(56, 81, 106);
}


button:hover {
    background-color: rgb(59, 90, 116);
    color: rgb(68, 162, 255);
}

button:active {
    background-color: rgb(99, 132, 180);
}
