.main-div {
    margin: auto;
    margin-top: 50px;
}

.display-div {
    flex: 1 1 auto;
    border: 2px rgb(116, 116, 116) solid;
}

.number-div {
    display: flex;
    flex-wrap: wrap;
}

.number {
    flex: 1 1 auto;
}
